html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#container {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

#members {
	font-size: 1.1em;
}

#graph-container {
	/*margin-top: 2%;*/
	
}

#graph-nav {
	margin: 2% auto;
}

/*table {
	margin: 2% auto;
}

.label {
	padding-right: 2%;
}*/

#graph-nav {  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap; /* flex-direction flex-wrap */
	justify-content: space-around; /* how remaining space is distributed */
}

.graph-input {
	background-color: rgba(182,182,182,0.3);
	height: 50px;
	width: 14%;
	margin: auto;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.selected {
	background-color: rgba(182,182,182,1);
	color: white;
}

.graph-input:hover {
	background-color: rgba(182,182,182,1);
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

#analysis-box {
	margin-top: 20px;
}

.analysis {
	visibility: hidden;
}
