<!DOCTYPE html>
<html>
<head>
	<title>Time Use Effects of the Recession</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link href="stylesheets/time.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
  <h2>The Recession's Effect On Americans' Activity Engagement</h2>
  <div id="members">Duncan McIsaac, Yinting Luo, Jina Lee and Mo Zhang</div> <!-- Are these the names people want on the project? -->
  <p>This project analyzes how Americans altered their weekday schedules and behavior during The Great Recession. We used the <a target="_blank" href="https://catalog.data.gov/dataset/american-time-use-survey-54e68">American Time Use Survey</a> (ATUS) as our data source. The American Time Use Survey conducted over 148,000 interviews between 2003 and 2013 to keep track of how much time Americans fifteen years of age and older dedicated to a myriad of different activities. Click <a target="_blank" href="http://www.bls.gov/tus/atussummary.pdf">here</a> to read more about ATUS. </p>
  <span>After graphing the weekday percent engagement for all activities, we separated significant findings into seven categories. Use the navigation below to explore those findings.</span>
  <div id="graph-container">
    <div id="graph-nav">
      <!-- JS: .click will analyze the data-index of $(this), split it on , and turn it into numbers, and call graphing function accordingly. It could also take $(this).html() for the chart title -->
      <div class="graph-input selected" data-index="0,1">Personal Activities</div>
      <div class="graph-input" data-index="2">Leisure</div>
      <div class="graph-input" data-index="3,4,5,6">Household Work</div> <!-- blue red yellow green -->
      <div class="graph-input" data-index="7">Finances</div>
      <div class="graph-input" data-index="8,9">Community</div>
      <div class="graph-input" data-index="10">Education</div>
      <div class="graph-input" data-index="11,12,13">Work</div>
    </div>
    <div id="graph"></div>
  </div>
  <div id="analysis-box">
    <!-- <div class="analysis" data-activity="Personal Activities">This is about personal activities</div>
    <div class="analysis" data-activity="Leisure">This is about leisure</div>
    <div class="analysis" data-activity="Household Work">This is about household work</div>
    <div class="analysis" data-activity="Finances">This is about finances</div>
    <div class="analysis" data-activity="Community">This is about community</div>
    <div class="analysis" data-activity="Education">This is about education</div>
    <div class="analysis" data-activity="Work">This is about work</div> -->
  </div>

</div>


<!-- (title, members, purpose, graph area, radio button navigation, analysis text box) -->
<script type="text/javascript" src="d3/d3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
var data, analyses;

data = {{data|safe}}
analyses = {
  "Personal Activities": "We can see that there was a marked increase in the percentage of Americans who turned to self-care in regards to health in 2008. It’s possible this resulted from a decrease in wages and/or loss of business-provided health insurance. We can also see that more Americans engaged in personal activities. After having their hours cut or losing their jobs, more Americans may have decided to focus on self-improvement before returning to work.",
  "Leisure": "Although the percentage of Americans who watched TV increased slightly in 2008 and 2009, it dropped off in 2010 and 2011, which may indicate more American began to find jobs, leading to less leisure time. The increase in TV-watching may also be attributed to Americans seeking lower-cost leisure activities.",
  "Household Work": "Percent engagement in food preparation increased in 2008 and more dramatically in 2009. It’s possible that Americans had fewer dollars to spend and thus ate out less than before the Recession. Understandably, the percentage of Americans who shopped for groceries increased during this time as well. Both percentage of Americans paying attention to pets as well as their travel related to household activities increased from 2007 to 2008. As more Americans became unemployed, they may have seeked out additional uses for their time.",
  "Finances": "2008 saw the beginning of a large fall in percentage of Americans who seeked out financial services. There are a multitude of factors which may have influenced this decline, but some potential culprits could be the rise of online banking as well as a general distrust of financial services after the housing bubble burst.",
  "Community": "The effects of the Recession on engagement in organizational, civic, religious and spiritual activities are interesting. It appears engagement rose in 2008 before falling in 2009, rebounding in 2010, and falling more dramatically in 2011. It’s possible that these changes reflected Americans’ need for community in difficult times, but once the Recession appeared to subside, many Americans decided they didn’t need the greater sense of community they shared previously.",
  "Education": "In 2008 we saw the beginning of a trend of more engagement in education. As more Americans lost their jobs, they may have decided to return to school before attempting to enter the job market once again. Since participants ages 15 and older were surveyed for this data, another possible reason for the uptick in education engagement is that more young Americans saw the job market in 2008 as hostile and decided to go to college instead of entering the market directly out of high school.",
  "Work": "We see that 2008 marked the beginning of a decline in engagement in working and work-related activities as well as travel related to work. Increased unemployment could explain the decline in percentage of Americans working. As employers lost money, they may have not been able to send employees on as many business trips. This in combination with increased unemployment may have resulted in the decline in engagement for travel related to work. We can also see that there was a substantial increase in the percentage of Americans searching for jobs and interviewing. Increased unemployment could explain this upswing as well, since many Americans were eager to return to work."
}
// Add default analysis text
$('#analysis-box').html(analyses["Personal Activities"]);

// Graph navigation
$('.graph-input').click(function() {
  // reset all elements and set this one to selected
  $('.graph-input').removeClass('selected');
  $(this).addClass('selected');
  var indexes = $(this).attr('data-index').split(','); // Convert to int later

  // set analysis text to correct category
  var category = $(this).html();
  $('#analysis-box').html(analyses[category]);

  // call graphing function on this data
  $('#graph').html('');
  drawActivities(category, indexes);

});

// line hover handler (for now, just dots)
// $('.dot').on('hover',function() {
//   $(this).attr('fill',$(this).attr('stroke')); // doesn't work, probably because there are no dots yet
// });

// drawActivities("Household Work",["3","4","5","6"]);
drawActivities("Personal Activities",["0","1"]);
function drawActivities(category, indexes) {
  var yRange, width, height, margins, graph, years, xScale, yScale, xAxis, yAxis, createLine, colors, activityData;
  // define the yRange for the selected category
  if (category === "Personal Activities") {
    yRange = [0,10];
  }
  else if (category === "Leisure") {
    yRange = [0,90];
  }
  else if (category === "Household Work") {
    yRange = [0,60];
  }
  else if (category === "Finances") {
    yRange = [0,5];
  }
  else if (category === "Leisure") {
    yRange = [0,90];
  }
  else if (category === "Community") {
    yRange = [0,15];
  }
  else if (category === "Education") {
    yRange = [0,15];
  }
  else if (category === "Work") {
    yRange = [0,60];
  }

  width = 1320;
  // width = 1000;
  height = 500;
  margins = {
    top: 20,
    right: 20,
    bottom: 20,
    left: 50
  };

  var tooltip = d3.select('#graph').append("div") // declare the properties for the div used for the tooltips
    .attr("class", "tooltip")       // apply the 'tooltip' class
    .style("opacity", 0); 

  graph = d3.select('#graph').append('svg')
    // .style('margin-left',-margins.left*1.9) // prevents activity name cutoff
    // ^ use if on a 1366x screen 
    .attr('height', height + margins.bottom)
    .attr('width', width);

  width -= 320; // save room for labels

  // chart title
  graph.append("text")
    .attr("x", (width / 2))             
    .attr("y", margins.top/1.5)
    .attr("text-anchor", "middle")  
    .style("font-size", "16px") 
    .style("font-weight", "bold")
    .text(category.replace(/#/g, ','));

  years = ["2006","2007","2008","2009","2010","2011","2012","2013"];

  // define scale factors
  xScale = d3.scale.ordinal()
    .domain(years)
    .rangePoints([margins.left, width - margins.right]);
  yScale = d3.scale.linear()
    .domain(yRange)
    .range([height - margins.top, margins.bottom]);

  // define axes
  xAxis = d3.svg.axis()
    .scale(xScale);
    // .tickSize(2);
    // .ticks(8);
  yAxis = d3.svg.axis()
    .scale(yScale)
    // .tickSize(2)
    // .ticks(2)
    .orient("left");

  function make_xaxis() {
    return d3.svg.axis()
            .scale(xScale);
  }
  function make_yaxis() {
    return d3.svg.axis()
            .scale(yScale)
            .orient("left");
  }

  // add x-axis to graph
  graph.append('g')
    .attr('class','axis')
    .attr('transform', 'translate(0,' + (height - margins.bottom) + ')')
    .call(xAxis);

  // add y-axis to graph
  graph.append('g')
    .attr('class','axis')
    .attr('transform', 'translate(' + (margins.left) + ',0)')
    .call(yAxis);

  // y-axis title
  graph.append("text")
    .attr("y", 0 - margins.left) // x and y switched due to rotation
    .attr("x", 0 - (height / 2))
    // I don't exactly know what this does. It might align the text differently than its y-value
    .attr("dy", "4em") 
    .attr("transform", "rotate(-90)")
    .style("text-anchor", "middle")
    .style("font-size", "16px") 
    .style("font-weight", "bold")
    .text("Weekday Percentage Engagement");

  // x-axis title
  graph.append("text")
    .attr("class", "xlabel")
    .attr("text-anchor", "middle")
    .style("font-size", "16px") 
    .style("font-weight", "bold")
    .attr("x", width / 2)
    .attr("y", height + margins.bottom/1.9) // prevents cutoff
    // .attr("dy", "-1em") 
    .text("Year");

  // Draw the x Grid lines
  graph.append("g")
    .attr("class", "grid")
    .attr("transform", "translate(0," + height + ")")
    .call(make_xaxis()
      .tickSize(-(height-margins.top), 0, 0)
      .tickFormat("")
    );

  // Draw the y Grid lines
  graph.append("g")            
    .attr("class", "grid")
    .attr("transform", "translate("+margins.left+",0)")
    .call(make_yaxis()
      .tickSize(-(width-margins.left-margins.right), 0, 0)
      .tickFormat("")
    );

  // line function
  createLine = d3.svg.line()
    .x(function(d) {
      return xScale(d.year);
    })
    .y(function(d) {
      return yScale(d.percent);
    })
    .interpolate('linear');

  colors = ['#448AFF','#F44336','#FFC107','#4CAF50']; // blue, red, yellow, green
  // draw lines and dots
  // for (var i; i < indexes.length; i++) {
  indexes.forEach(function(value, i) { 
    // convert index into int
    value = parseInt(value, 10);
    // assign data
    activityData = data.Weekday[value][1];
    // access different data if education
    if (category === "Education") {
      // get percent data
      activityData = activityData[0];
    }

    // draw line
    graph.append('path')
      .attr('d', createLine(activityData))
      .attr('stroke', colors[i])
      .attr('stroke-width', 2)
      .attr('fill', 'none');
    
    graph.selectAll(".dot") // dots for data
      .data(activityData)
      .enter().append("circle")
      .attr('class', 'datapoint data') // datapoint is general class, data is more specific one
      .attr('cx', function(d) { return xScale(d.year); })
      .attr('cy', function(d) { return yScale(d.percent); })
      .attr('r', 6)
      .attr('fill', 'white')
      .attr('stroke', colors[i])
      .attr('stroke-width', '2')
      .on("mouseover", function(d) {
        // make the color of the tooltip the stroke color
        tooltip.style("background-color",colors[i]);
        // fill in the dot
        $(this).attr('fill', colors[i]);
       // when the mouse goes over a circle, do the following
        tooltip.transition()                  // declare the transition properties to bring fade-in div
          .duration(200)                  // it shall take 200ms
          .style("opacity", .9);              // and go all the way to an opacity of .9
        tooltip.html( "<br/><p>" + d.percent + 
                      "% of Americans surveyed engaged in " + data.Weekday[value][0] + " in " + 
                      + d.year+"</p>")  // add the text of the tooltip as html 
          .style("left", (d3.event.pageX) + "px")     // move it in the x direction 
          .style("top", (d3.event.pageY - 28) + "px");  // move it in the y direction
      })   
      .on("mouseout", function(d) {
        // when the mouse leaves a circle, do the following
        // make the dot white again
        $(this).attr('fill', 'white'); // transition doesn't work well here
        tooltip.transition()                  // declare the transition properties to fade-out the div
          .duration(500)                  // it shall take 500ms
          .style("opacity", 0);             // and go all the way to an opacity of nil
       }); 

    // label
    graph.append("text")
      .attr("transform", "translate(" + (width+3) + "," + yScale(activityData[activityData.length-1].percent) + ")")
      // .attr("dy", ".35em")
      .attr("dx", "-.4em")
      .attr("text-anchor", "start")
      .style("fill", colors[i])
      .text(data.Weekday[value][0]);

  });


}


/* I'm not going to put in bar chart functionality yet; I guess for now just assume it would go underneath the line chart */
/* Note: I might want to resize the graph to be more reasonable. Think about using vh instead. I'm not even sure if SVG can take vh */

</script>
</body>
</html>