<!DOCTYPE html>
<html>
<head>
	<title>Time Use Effects of the Recession</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link href="stylesheets/time.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
  <h2>The Recession's Effect On Americans' Activity Engagement</h2>
  <div id="members">Duncan McIsaac, Luo Lorraine, Jina Lee and Mo Zhang</div> <!-- Are these the names people want on the project? -->
  <p>This project analyzes how Americans altered their schedules and behavior during The Great Recession. We used the <a target="_blank" href="https://catalog.data.gov/dataset/american-time-use-survey-54e68">American Time Use Survey</a> (ATUS) as our data source. The American Time Use Survey conducted over 148,000 interviews between 2003 and 2013 to keep track of how much time Americans fifteen years of age and older dedicated to a myriad of different activities. Click <a target="_blank" href="http://www.bls.gov/tus/atussummary.pdf">here</a> to read more about ATUS. </p>
  <span>Use the navigation below to explore our significant findings.</span>
  <div id="graph-container">
    <div id="graph-nav">
      <!-- <form>
        <table>
          <tr>
            <td><input id="personal-activities" type="radio" value="0,1"></td>
            <td class="label"><label>Personal Activities</label></td>

            <td><input id="leisure" type="radio" value="2"></td>
            <td class="label"><label>Leisure</label></td>

            <td><input id="household-work" type="radio" value="3,4,5,6"></td>
            <td class="label"><label>Household Work</label></td>

            <td><input id="finances" type="radio" value="7"></td>
            <td class="label"><label>Finances</label></td>

            <td><input id="religion" type="radio" value="8,9"></td>
            <td class="label"><label>Religion</label></td>

            <td><input id="education" type="radio" value="10"></td>
            <td class="label"><label>Education</label></td>

            <td><input id="work" type="radio" value="11,12,13"></td>
            <td class="label"><label>Work</label></td>
          </tr>
        </table>
      </form> -->
      <!-- JS: .click will analyze the data-index of $(this), split it on , and turn it into numbers, and call graphing function accordingly.
           It could also take $(this).html() for the chart title -->
      <div class="graph-input" data-index="0,1">Personal Activities</div>
      <div class="graph-input" data-index="2">Leisure</div>
      <div class="graph-input" data-index="3,4,5,6">Household Work</div>
      <div class="graph-input" data-index="7">Finances</div>
      <div class="graph-input" data-index="8,9">Religion</div>
      <div class="graph-input" data-index="10">Education</div>
      <div class="graph-input" data-index="11,12,13">Work</div>
      <!-- Tuesday: Turn this into a flexbox. I think I can spread the divs out evenly if they are in that format. -->



    </div>
    <div id="graph"></div>
  </div>
  <div id="analysis"></div>

</div>


<!-- (title, members, purpose, graph area, radio button navigation, analysis text box) -->
<script type="text/javascript" src="d3/d3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
var data = {{data|safe}}
</script>
</body>
</html>